.slideanimate {
    visibility: hidden;
}

.slide {
    animation: slide 1s 0s;
    visibility: visible;
}

@keyframes slide {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0vh);
    }
}